<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department">

  <listeners>
    <listener class-name = "Test.Listeners"/>
  </listeners>

  <parameter name = "URL" value = "udemy.com"/>
  
  <test thread-count="5" name="Personal Loan">
     <classes>
      <class name="Test.Practice1">
        <methods>
           <exclude name="SecondTest"></exclude>
        </methods>
      </class>
      <class name="Test.Practice2"/>
    </classes>
  </test> 
  
  <test thread-count="5" name="Car Loan">
    <classes>
      <class name="Test.Practice3">
         <methods>
            <exclude name="API.*"></exclude>
         </methods>
      </class>
    </classes>
  </test> 
    
  <test thread-count="5" name="Home Loan">
    <classes>
      <class name="Test.Practice4"/>
    </classes>
  </test> 
  
</suite> 
